.create-events {
	padding: 16px;
}
.create-event-header {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #333545;
	padding: 8px;
}
.create-event-header-underline {
	width: 4%;
	height: 1px;
	background-color: #ff4081;
	margin-top: 8px;
	margin: auto;
}
.create-event-forms {
	margin-top: 16px;
}
.create-event-form-cointainer {
	.create-event-input {
		padding: 16px;
		mat-form-field {
			width: 100%;
		}
	}
}
.add-button {
	margin: 8px;
}
.events {
	padding: 16px;
}
.event-header {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #333545;
	padding: 8px;
}
.event-header-underline {
	width: 4%;
	height: 1px;
	background-color: #ff4081;
	margin-top: 8px;
	margin: auto;
}
.event-cards-container {
	margin-top: 16px;
	mat-card {
		margin: 12px;
		border-radius: 12px;
	}
	.mat-card-image {
		border-radius: 8px;
	}
}
.event-card {
	position: relative;
	.delete-icon {
		position: absolute;
		top: 20px;
		right: 20px;
		color: indianred;
		z-index: 999;
		font-size: 16px;
	}
}
