/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
	margin: 0px !important;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mat-toolbar.mat-primary {
	background: #333545;
}
*:focus {
	outline: none;
}
.mat-focused .mat-form-field-label {
	color: #ff4081 !important;
}

.mat-form-field-ripple {
	background-color: #ff4081 !important;
}
